@import "variables";
@import "bootstrap";
@import "vendor/owl.carousel";
@import "vendor/owl.transitions";
@import "vendor/font-awesome/font-awesome";

/**
	Contents:

	1. Misc
	2, Typography
	3. Containers
	4. Header
	5. Footer
	6. Specifics

 */

/*============================
=            Misc            =
============================*/

body {
	// padding-top: 100px;
	// background-color: $brand-secondary;
	// padding-right: 20px;
	// padding-left: 20px;
}

section {
	padding-top: $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
	@media (min-width: $screen-sm) {
		padding-top: $grid-gutter-width * 2;
		padding-bottom: $grid-gutter-width * 2;
	}
}

// article {
// 	padding: $grid-gutter-width 0 $grid-gutter-width 0;
// 	@media (min-width: $screen-sm) {
// 		padding: $grid-gutter-width * 2;
// 	}
// }

img {
	max-width: 100%;
}

.flexible-block {
	padding-top: $grid-gutter-width / 2;
	padding-bottom: $grid-gutter-width / 2;
	@media (min-width: $screen-sm) {
		padding-top: $grid-gutter-width;
		padding-bottom: $grid-gutter-width;
	}
}

.gen-padding {
	padding: $grid-gutter-width;
}

.gen-padding-left {
	padding-left: $grid-gutter-width;
}

.gen-padding-bottom {
	padding-bottom: $grid-gutter-width;
}

.gen-padding-t-b {
	padding-top: $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
}

.extra-padding {
	padding: $grid-gutter-width * 2;
}

.no-padding-top {
	padding-top: 0;
}

.bg-primary {
	p, h2 {
		color: #fff;
	}
}

.bg-secondary {
	background-color: $brand-secondary;
	p, h2 {
		color: #fff;
	}
}

.scroll-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	top: auto;
    color: white;
    font-size: 1.5em;
    z-index: 12;
    padding: 6px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: $brand-secondary;
    display: none;
    &:hover {
    	text-decoration: none;
    	background-color: $brand-primary;
    	color: white;
    }
    &:focus {
    	text-decoration: none;
    	background-color: $brand-secondary;
    	color: white;
    }
}

.scroll-down {
	@extend .scroll-up;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    right: initial;
    background-color: transparent;
    display: block;
}

.display-flex {
	display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.btn {
	&.center {
		margin: 0 auto;
	}
	&.contact {
		font-size: $font-size-h4;
	}
	&.btn-primary {
		transition: all .3s ease;
		color: #fff;
		&:hover {
			background-color: $brand-secondary;
			border-color: $brand-secondary;
		}
	}	
	&.btn-secondary {
		transition: all .3s ease;
		color: #fff;
		background-color: $brand-secondary;
		&:hover {
			background-color: $brand-primary;
			border-color: $brand-primary;
		}
	}
}

.modal-custom {
	padding: 0 !important;
	.modal-dialog {
		@media (min-width: $screen-sm) {
			width: 80%;
			margin-top: 0;
			margin-bottom: 0;
			height: 100vh;
		}
		.modal-header {
			border-bottom: none;
			h4 {
				color: white;
				text-align: center;
			}
		}
		.modal-content {
			background-color: transparent;
			box-shadow: none;
			border: none;
			height: 100%;
			.modal-body {
				height: 100%;
				display: flex;
				flex-wrap: wrap;
				flex-flow: column;
			}
		}
		.modal-footer {
			border-top: none;
		}
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.close {
		color: white;
		opacity: 1;
		font-size: 35px;
		@media (min-width: $screen-sm) {
			position: absolute;
			left: 100%;
			top: 20px;
			font-size: 45px;
		}
	}
}

.carousel {
	flex-grow: 2;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.carousel-inner {
		overflow: visible;
		.item {
			img {
				max-height: 70vh;
			}
			.carousel-caption {
				position: absolute;
				top: 100%;
				width: 100%;
				left:0;
				@media (min-width: $screen-sm) {
					padding-bottom: 20px;
				}
			}		
		}
	}
	.carousel-control {
		background-image: none;
		opacity: 1;
		max-height: 70vh;
		top: calc(50% - 50px);
		transform: translateY(-50%);
		@media (min-width: $screen-sm) {
			width: 5%;
		}
		&.right {
			right: 0;
			@media (min-width: $screen-sm) {
				left: 100%;
				right: auto;
			}
		}
		&.left {
			left: 0;
			@media (min-width: $screen-sm) {
				right: 100%;
				left: auto;
			}
		}
	}
}

.carousel-control-grid {
	text-align: center;
	padding-top: 15px;
	margin: 0;
	position: relative;
	width: 100%;
	overflow: auto;
	white-space: nowrap;
	left: auto;
	font-size: 0;
	align-self: flex-end;
	li {
		display: inline-block;
		margin: 0;
		height: 50px;
		width: 50px;
		border-radius: 0;
		left: auto;
		bottom: auto;
		padding: 1px;
		border: 0;
		a {
			display: block;
		}
		&.active {
			height: 50px;
			width: 50px;
			border: 0;
			background-color: transparent;
			img {
				border: 5px solid $brand-primary;
			}
		}
	}
}


.modal-backdrop.in {
	opacity: 0.8;
}



/*=====  End of Misc  ======*/

/*==================================
=            Typography            =
==================================*/

.center {
	text-align: center;
}

.intro-text, .block-text {
	// padding: 0 $grid-gutter-width / 2;
	// @media (min-width: $screen-sm) {
	// 	padding: $grid-gutter-width $grid-gutter-width / 2;
	// }
	p {
		font-size: $font-size-h5;
		line-height: 1.4;
		@media (min-width: $screen-sm) {
			font-size: $font-size-h4;
			line-height: 1.8;
		}
	}
}

.block-text {
	padding: $grid-gutter-width $grid-gutter-width / 2;
	@media (min-width: $screen-sm) {
		padding: $grid-gutter-width * 2;
	}
}

.script-text {
	font-family: 'Satisfy';
	font-size: 22px;
	padding: $grid-gutter-width 0 $grid-gutter-width 0;
	@media (min-width: $screen-sm) {
		padding: 0 0 0 $grid-gutter-width;
	}
	.script-img {
		float: left;
		padding-bottom: $grid-gutter-width;
		@media (min-width: $screen-sm) {
			max-width: 50%;
			padding-right: $grid-gutter-width * 2;
		}
	}
}

/*=====  End of Typography  ======*/


/*==================================
=            Containers            =
==================================*/

.container-max {
	max-width: 1600px;
	margin: 0 auto;
	padding-left: $grid-gutter-width / 2;
	padding-right: $grid-gutter-width / 2;
}


/*=====  End of Containers  ======*/


/*==============================
=            Header            =
==============================*/

.header {
    position: relative;
    z-index: 50;
    min-height: 250px;
    margin-top: 50px;
    background-repeat: no-repeat;
    @media (min-width: $screen-md) {
		margin-top: 80px;
    }
    &.home {
	    height: 100vh;
	    min-height: 100vh;
	    margin-top: 0;
    }
    // &.about {
    // 	min-height: 450px;
    // 	background-size: contain;
    // }
    .navbar-default {
    	background-color: white;
    	.navbar-header {
			@media (min-width: $screen-sm) {
				width: 100%;
				position: relative;
			}
			.tagline-wrapper {
				transition: all 0.3s ease-in-out;
				height: 30px;
				overflow: hidden;
				display: none;
				@media (min-width: $screen-md) {
					display: block;
				}
				.tagline {
					text-align: center;
					padding-top: 10px;
					font-size: 18px;
					font-family: $headings-font-family;
					color: $brand-info;
					// color: black;
					margin: 0;
					float: left;
					transform: translateX(-50%);
					left: 50%;
					position: relative;
					&:before {
					    content: "";
					    display: block;
					    position: absolute;
					    left: -119px;
					    top: 13px;
					    width: 101px;
					    height: 11px;
					    background: url(../images/tagline-before.png) no-repeat;
					}
					&:after {
					    content: "";
					    display: block;
					    position: absolute;
					    right: -119px;
					    top: 3px;
					    width: 101px;
					    height: 11px;
					    top: 13px;
					    background: url(../images/tagline-after.png) no-repeat;
					}
				}
			}
			.navbar-brand {
				height: 50px;
				padding: 5px;
				@media (min-width: $screen-sm) {
					border-bottom: 1px solid $gray-lighter;
					position: absolute;
					height: 75px;
					background-color: white;
					top: 10px;
					left: 0;
					transition: all 0.3s ease-in-out;
					border-radius: 50%;
					padding: 0 10px 10px 10px;
				}
				@media (min-width: $screen-md) {
					height: 150px;
					padding: 15px;
				}
				img {
					height: 40px;
					transition: all 0.3s ease-in-out;
					@media (min-width: $screen-sm) {
						height: 60px;
					}					
					@media (min-width: $screen-md) {
						height: 120px;
					}
				}
			}
    	}
    	.navbar-nav {
    		@media (min-width: $screen-sm) {
				transform: translateX(-50%);
				left: 50%;
				position: relative;
    		}
    		li {
    			a {
    				font-family: $headings-font-family;
    				font-weight: normal;
    				font-size: 16px;
    				color: $brand-info;
    				// color: black;
    				@media (min-width: $screen-sm) {
						padding-left: 8px;
						padding-right: 8px;
						font-size: 14px;
    				}      				
    				@media (min-width: $screen-md) {
						padding-left: 10px;
						padding-right: 10px;
						font-size: 16px;
    				}    				
    				@media (min-width: $screen-lg) {
						padding-left: 15px;
						padding-right: 15px;
    				}
    				&:focus {
    					color: $brand-info;
    					// color: black;
    				}
    			}
    			&.active, &:hover {
    				a {
    					background-color: transparent;
    					color: $brand-primary;
    					font-weight: bold;
    					&:focus {
    						background-color: transparent;
	    					color: $brand-primary;
    					}
    				}
    				&:hover {
	    				a {
	    					background-color: transparent;
	    					color: $brand-primary;
	    				}
    				}
    			}
    		}
    	}
    	.navbar-toggle {
    		border-color: $brand-primary;
    		.icon-bar {
    			background-color: $brand-primary;
    		}
    		&:hover {
    			background-color: $brand-primary;
    			.icon-bar {
    				background-color: #FFF;
    			}
    		}
    		&:focus {
    			background-color: transparent;
    			.icon-bar {
    				background-color: $brand-primary;
    			}
    		}
    	}
    	&.scrolled {
    		.navbar-header {
    			.tagline-wrapper {
    				height: 0;
    			}
	    		.navbar-brand {
	    			height: 50px;
	    			@media (min-width: $screen-sm) {
						height: 75px;
						padding: 0 10px 10px 10px;
	    			}
	    			img {
	    				height: 40px;
		    			@media (min-width: $screen-sm) {
							height: 60px;
		    			}
	    			}
	    		}
    		}
    	}
    }

	.home-carousel {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		.home-carousel__item {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			// background-attachment: fixed;
		}
		.owl-wrapper-outer, .owl-wrapper, .owl-item {
			height: 100%;
		}
	}
}


.home-link-wrap, .internal-link-wrap {
	transform: scale(0.97);
	transition: 0.3s all ease-in-out;
	display: block;
	border: 5px solid #fff;
	margin-top: $grid-gutter-width;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.15);
	font-family: $headings-font-family;
	font-size: 16px;
	text-decoration: none;
	@media (min-width: $screen-sm) {
		font-size: 20px;
	}
	.home-link-button {
		border-radius: 50%;
		background-color: white;
		position: relative;
		transform: translateX(-50%);
		margin-top: -35px;
		left: 50%;
		padding:17px;
		width: 70px;
		transition: 0.3s all ease-in-out;
		img {
			width: 100%;
		}
	}
	.home-link-block {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-bottom: 60%;
		// border-radius: 5px;
		position: relative;
		img {
			// border-radius: 5px;
			width: 100%;
		}
	}
	p {
		text-align: center;
	}
	&:hover {
		transform: scale(1);
		z-index: 5;
		text-decoration: none;
		.home-link-button {
			background-color: $brand-secondary;
		}
	}
	&:focus {
		text-decoration: none;
	}
	&.no-logo {
		p {
			margin: 10px 0;
		}
	}
}

//Gallery
.gallery-text {
	text-align: center;
	padding: 10px $grid-gutter-width 0 $grid-gutter-width;
}

.internal-link-wrap {
	margin-top: 0;
	p {
		margin: 5px 0 0 0;
	}
}


.intro {
	    // display: none;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    background: rgba(176,196,221,0.4);
    padding-bottom: 8px;
    z-index: 50;
    h1 {
	   	color: white;
	    text-align: center;
	    // font-weight: bold;
	    text-shadow: 1px 1px #555;
	    font-family: 'Ruthie', cursive;
	    font-size: 55px;
	    @media (min-width: $screen-sm) {
			font-size: 85px;
	    }
    }
}

h2 {
	font-size: $font-size-h3;
	@media (min-width: $screen-sm) {
		font-size: $font-size-h2;
    }
}


/*=====  End of Header  ======*/

/*==============================
=            Footer            =
==============================*/

.social {
	list-style: none;
	padding-left: 0;
	padding-top: $grid-gutter-width;
	li {
		float: left;
		a {
			font-size: 2em;
			padding: 0 0.5em 0.5em 0.5em;
			color: $brand-primary;
			transition: all 0.3s ease-in-out;
			&:hover {
				text-decoration: none;
				color: $brand-secondary;
			}
		}
		&:first-child {
			a {
				padding-left: 0;
			}			
		}
	}
}

.footer {
	background-color: #222;
	padding: $grid-gutter-width 0;
	h4 {
		color: $brand-primary;
	}
	p {
		color: #fff;
	}
	nav {
		ul {
			padding: 0;
			list-style: none;
			li {
				a {
					color: #fff;
				}
			}
		}
	}
	.social {
		padding-top: 0;
		li {
			a {
				color: #fff;
				&:hover {
					text-decoration: none;
					color: $brand-primary;
				}
			}
		}
	}
}



/*=====  End of Footer  ======*/


/*============================
=          Components        =
============================*/

//Content and image side by side
.ci-wrapper {
	.ci-row {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		&.image-first {
			flex-wrap: wrap-reverse;
			@media (min-width: $screen-sm) {
				flex-wrap: wrap;
			}
		}
		.ci-child {
			background-size: cover;
			background-position: center;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			position: relative;
			&.ci-text {
				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					background-image: url(../images/logo-fade.png);
					background-size: cover;
					opacity: 0.2;
					z-index: 0;
				}
			}
			.ci-content {
				position: relative;
				z-index: 1;
			}
			&.ci-width-70 {
				width: 100%;
				min-height: 350px;
				@media (min-width: $screen-sm) {
					width: 50%;
				}
				@media (min-width: $screen-md) {
					width: 70%;
				}
			}			
			&.ci-width-30 {
				width: 100%;
				@media (min-width: $screen-sm) {
					width: 50%;
				}				
				@media (min-width: $screen-md) {
					width: 30%;
				}
			}
			&.ci-width-60 {
				width: 100%;
				min-height: 350px;
				@media (min-width: $screen-sm) {
					width: 50%;
				}
				@media (min-width: $screen-md) {
					width: 60%;
				}
			}			
			&.ci-width-40 {
				width: 100%;
				@media (min-width: $screen-sm) {
					width: 50%;
				}				
				@media (min-width: $screen-md) {
					width: 40%;
				}
			}
			&.bg-secondary {
				a {
					color: #fff;
					text-decoration: underline;
				}
			}
			&.bg-primary {
				a {
					color: #fff;
					text-decoration: underline;
				}
			}
			.btn {
				font-size: $font-size-base;
				@media (min-width: $screen-sm) {
					font-size: $font-size-large;
				}
				&.btn-primary {
					&:hover {
						border-color: darken($brand-secondary, 5%);
					}
				}				
				&.btn-secondary {
					&:hover {
						border-color: darken($brand-primary, 5%);
					}
				}
			}
		}
	}
	h2 {
		margin-top: 0;
	}
	p {
		font-size: $font-size-base;
		@media (min-width: $screen-sm) {
			font-size: $font-size-large;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Custom carousel
.c-bg-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    .c-bg-carousel__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-size: cover;
        background-position: center;
    }
    .c-bg-carousel__control {
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	width: 80px;
    	border: none;
    	transition: all 0.3s ease;
    	.fa {
    		position: absolute;
    		font-size: 30px;
    		color: #fff;
    	}
    	&.next {
			right: 0;
			.fa {
				right: 50%;
				transform: translateX(50%);
			}
    	}
    	&.prev {
    		left: 0;
    		.fa {
				right: 50%;
				transform: translateX(50%);
    		}
    	}
    	&.pink {
    		background-color: rgba($brand-primary, 0.3);
    		&:hover {
    			background-color: rgba($brand-primary, 0.6);
    		}
    	}    	
    	&.blue {
    		background-color: rgba($brand-secondary, 0.3);
    		&:hover {
    			background-color: rgba($brand-secondary, 0.6);
    		}
    	}
    	&:focus {
    		outline: 0;
    	}
    }
}


/*=====  End of Components  ======*/

/*============================
=          Specifics          =
============================*/

.ceremony {
	.ceremony__link {
		display: block;
		&:focus, &:hover {
			text-decoration: none;
		}
		article {
			padding: 0;
			margin: 0 0 $grid-gutter-width 0;
			position: relative;
			border: 5px solid #fff;
	    	box-shadow: 0 1px 3px 1px rgba(0,0,0,.15);
			@media (min-width: $screen-sm) {
				transform: scale(.99);
				transition: all 0.3s ease-in-out;
			}
			&:hover {
				transform: scale(1);
			}
			h2 {
				bottom: 0;
				left: 0;
				padding: $grid-gutter-width / 2;
				margin: 0;
				background-color: white;
				font-size: $font-size-h2 / 1.5;
				text-align: center;
				@media (min-width: $screen-sm) {
					position: absolute;
					font-size: $font-size-h2;
				}
			}
		}
	}
	&:nth-child(even) {
		.ceremony__link {
			article {
				h2 {
					right: 0;
					left: initial;
				}
			}
		}
	}
}